<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Presentation.Inscripcion.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorController</servlet-name>
        <servlet-class>Presentation.Profesor.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstudianteController</servlet-name>
        <servlet-class>Presentation.Estudiante.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Presentation.Administrador.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Presentation.Login.Controller</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>CursoController</servlet-name>
        <servlet-class>Presentation.Curso.Controller</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Presentation/Administrador</url-pattern>
        <url-pattern>/Presentation/Administrador/GestionP</url-pattern>
        <url-pattern>/Presentation/GestionarCursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Presentation/Login/Show</url-pattern>
        <url-pattern>/Presentation/Login</url-pattern>
        <url-pattern>/Presentation/Login/Logout</url-pattern>
        <url-pattern>/Presentation/Registro</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ProfesorController</servlet-name>
        <url-pattern>/Presentation/Profesor/AgregrarProfesor</url-pattern>
        <url-pattern>/Presentation/Profesor/Show</url-pattern>
        <url-pattern>/Presentation/Profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstudianteController</servlet-name>
       <url-pattern>/Presentation/Estudiante/AgregrarEstudiante</url-pattern>
        <url-pattern>/Presentation/Estudiante/Matricular</url-pattern>
        <url-pattern>/Presentation/Estudiante/VInscrip</url-pattern>
        <url-pattern>/Presentation/Estudiante/Show</url-pattern>
         <url-pattern>/Presentation/Estudiante</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>CursoController</servlet-name>
        <url-pattern>/Presentation/Curso/Agregar</url-pattern>
        <url-pattern>/Presentation/Curso/CambiarStatus</url-pattern>
        <url-pattern>/Presentation/Curso/AgregarGrupos</url-pattern>
        <url-pattern>/Presentation/Curso/Show</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>