.lista{
    list-style-type: none;
}
.fila{
    border: 3px solid blue;
    background-color: lightblue;
    margin-bottom: 3px;
}
.columna{
    background-color:lightgreen;
    padding: 10px;
    border:2px solid green;
}

.navegacion{
    background-color: black !important;
}

body{
    background-image:url("../IMG/Fondo.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;    
}
.imagen{
    height: 200px;
    witdh:200px;
}


